<p>Author current name: <%=@author.name%></p>
<p>Author current age: <%=@author.age%></p>
<p>Author currently is alive?: <%=@author.is_alive%></p><br>
<%= form_with url:"/authors/#{@author.id}", method: :patch, local: true do |form| %>
  <%=form.label :name%>
  <%=form.text_field :name%>
  <%=form.label :age%>
  <%=form.number_field :age%>
  <%=form.label :is_alive%>
  <%= form.check_box :is_alive %>
  <%= form.submit 'Update Author' %>
<% end %> 