<header>
  <nav>
    <%= link_to "All Authors", "/authors" %>
    <%= link_to "All Books", "/books" %>
  </nav>
</header>
<body>
<p><%= @author.name %></p>
<p><%= @author.age %></p>
<p><%= @author.is_alive? %></p> 
<p>Number of Books: <%= @author.count_books %></p>
<a href="/authors/<%= @author.id %>'/book_listing"> Books Written By <%= @author.name %> </a>
</body>




