<header>
  <nav>
    <%= link_to "All Authors", "/authors" %>
    <%= link_to "All Books", "/books" %>
  </nav>
</header>
<body>
<p>Name: <%= @author.name %></p>
<p>Age: <%= @author.age %></p>
<p>Is alive: <%= @author.is_alive %></p> 
<p>Number of Books: <%= @author.count_books %></p>
<a href="/authors/<%= @author.id %>/book_listing"> Books Written By <%= @author.name %> </a>
</body>
  



