<p>Bicycle current model: <%=@bicycle.model%></p>
<p>Bicycle current price: <%=@bicycle.price%></p>
<p>Bicycle current has rack mount status: <%=@bicycle.has_rack_mount%></p><br>
<%= form_with url:"/bicycles/#{@bicycle.id}", method: :patch, local: true do |form| %>
  <%=form.label :model%>
  <%=form.text_field :model%>
  <%=form.label :price%>
  <%=form.number_field :price%>
  <%=form.label :has_rack_mount%>
  <%=form.check_box :has_rack_mount %>
  <%=form.submit 'Update Bicycle' %>  
<% end %>