<h1>Books</h1>
<% @books.each do |book| %>
  <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
  <p>Author: <%= Author.find(book.author_id).name %></p>
  <p>Number of Pages: <%= book.number_of_pages %></p>
  <p>Digital?: <%= book.digital %></p>
  
<% end %>