<header>
  <nav>
    <%= link_to "All Manufacturers", "/manufacturers" %>
    <%= link_to "All Bicycles", "/bicycles" %>
  </nav>
</header>
<body>
<h1>Manufacturers</h1>
<h3><%=link_to 'New Manufacturer', '/manufacturers/new'%>
<% @manufacturers.each do |manufacturer| %>
  <h3><a href="/manufacturers/<%= manufacturer.id %>"><%= manufacturer.name %></a></h3>
  <%= link_to 'Edit', "/manufacturers/#{manufacturer.id}/edit"%>
<% end %>