<a href="/manufacturers">Manufacturer Index</a>
<p>Name: <%= @manufacturer.name %></p>
<p>Year founded: <%= @manufacturer.year_founded %></p>
<p>Manufactured in United States: <%= @manufacturer.manufactured_in_us? %></p>
<a href="/manufacturers/<%= @manufacturer.id %>/child_listing">Bikes made by <%= @manufacturer.name %> </a>