<!DOCTYPE html>
<header>
  <nav>
    <%= link_to "All Manufacturers", "/manufacturers" %>
    <%= link_to "All Bicycles", "/bicycles" %>
  </nav>
</header>
<body>
<h1>Bikes Made by <%= @manufacturer.name%></h1>
<a href="/manufacturers/<%= (@manufacturer.id)%>">Go Back</a>
<%= link_to 'Add Bicycle', "/manufacturers/#{@manufacturer.id}/bicycle_listing/new"%>
<%= link_to 'sort', "/manufacturers/#{@manufacturer.id}/bicycle_listing/sorted"%>
<% @bike_listing.each do |bike| %>
  <p>Model: <%=bike.model%></p>
  <p>Price: <%= bike.price %></p>
  <p>Has a rack mount?: <%= bike.has_rack_mount %></p> <br>
<% end %>
</body>
</html>